/************************************************************/
/* Main Content Wrapper        															*/
/************************************************************/
#main_content_wrapper > div {
	position: relative;
	float: left;
}

/************************************************************/
/* Main Content Wrapper        															*/
/************************************************************/
#main_menu_area {
	width: 13.82%;
}