<<<<<<< HEAD
/************************************************************/
/* Second screen gamepics      															*/
/************************************************************/

.gamepic_01 {
	background-image: url(../../images/games_site/welcome/gamepic_batman_normal.png);
}

.gamepic_02 {
	background-image: url(../../images/games_site/welcome/gamepic_oddworld.png);
}

.gamepic_03 {
	background-image: url(../../images/games_site/welcome/gamepic_bioshock_small.png);
}

.gamepic_04 {
	background-image: url(../../images/games_site/welcome/gamepic_blue_box.png);
}

.gamepic_05 {
	background-image: url(../../images/games_site/welcome/gamepic_crysis2_normal.png);
}

.gamepic_06 {
	background-image: url(../../images/games_site/welcome/gamepic_battlefield4_normal.png);
}

.gamepic_07 {
	background-image: url(../../images/games_site/welcome/gamepic_lastofus_normal.png);
}

.gamepic_08 {
	background-image: url(../../images/games_site/welcome/gamepic_motogp13.png);
}

.gamepic_09 {
	background-image: url(../../images/games_site/welcome/gamepic_borderlands2_normal.png);
}

.gamepic_10 {
	background-image: url(../../images/games_site/welcome/gamepic_orange_box.png);
}

.gamepic_11 {
	background-image: url(../../images/games_site/welcome/gamepic_homefront.png);
}

.gamepic_12 {
	background-image: url(../../images/games_site/welcome/gamepic_wrc3.png);
}

.gamepic_13 {
	background-image: url(../../images/games_site/welcome/gamepic_darknes2.png);
}

.gamepic_14 {
	background-image: url(../../images/games_site/welcome/gamepic_witcher2.png);
}

.gamepic_15 {
	background-image: url(../../images/games_site/welcome/gamepic_turquise_box.png);
}

.gamepic_16 {
	background-image: url(../../images/games_site/welcome/gamepic_assassins_normal.png);
}

.gamepic_17 {
	background-image: url(../../images/games_site/welcome/gamepic_sleeping_dogs.png);
}

.headline_gamepic {
	background-image: url(../../images/games_site/welcome/gamepic_dirt3_headline.png);
}

/************************************************************/
/* Video images               															*/
/************************************************************/


.video_image1 {
	background-image: url(../../images/games_site/welcome/video_pic1.png);
}

.video_image2 {
	background-image: url(../../images/games_site/welcome/video_pic2.png);
}
.video_image3 {
	background-image: url(../../images/games_site/welcome/video_pic3.png);
}

.video_image4 {
	background-image: url(../../images/games_site/welcome/video_pic4.png);
}

/************************************************************/
/* Video avatars              															*/
/************************************************************/


.video_avatar1 {
	background-image: url(../../images/games_site/welcome/avatar_video1.png);
}

.video_avatar2 {
	background-image: url(../../images/games_site/welcome/avatar_video2.png);
}

.video_avatar3 {
	background-image: url(../../images/games_site/welcome/avatar_video3.png);
}

/************************************************************/
/* Main_screen                															*/
/************************************************************/

#main_screen {
	z-index: 3;
	overflow: hidden;
}

#main_screen > div {
	position: absolute;
}

.main_subscreen {
	top: 0;
	left: 0;
	width: 100%;
}

#main_screen1 {
	background-image: url(../../images/games_site/welcome/slider1_device_bg.png);
}

#main_screen2 {
	background-image: url(../../images/games_site/welcome/slider2_device_bg.png);
}

#main_screen3 {
	background-image: url(../../images/games_site/welcome/slider3_device_bg.png);
}

.inactive_main_screen {
	display: none;
}

#main_screen_signup {
	bottom: 16.3%;
	width: 13.48%;
	left: 4%;
	height: 11.63%;
	z-index: 3;
}

#main_screen_signup .divider_button {
	right: -15%;
}

#main_screen_signup > p {
	line-height: 3.2em;
	width: 100%;
>>>>>>> v3.5
=======
p {
	font-family: 'aktiv_groteskmedium';
	font-size: 1.8em;
>>>>>>> parent of b3e6ce2... Merge branch 'v3.5'
	text-align: center;
}

#source_slider_controller {
	position: absolute;
	width: 60%;
	top: 0;
	left: 40%;
	height: auto;
}

<<<<<<< HEAD
#source_slider_controller > div {
=======
#source_slider_controller a {
>>>>>>> parent of b3e6ce2... Merge branch 'v3.5'
	position: relative;
	height: auto;
	float: left;
	display: block;
	width: 25%;
}

#source_slider_controller a > div {
	width: 100%;
	background-position: top left;
	background-size: 100% 100%;
}

#source_slider_controller a > p {
	width: 100%;
	text-align: left;
	font-size: 1.5em;
	margin-top: 40px;
}

.device_button > div {
	background-color: #7C858C;
}

.icon_iphone_transparent {
	background-image: url('../../images/games_site/icon_iphone_transparent.png');
}

.icon_tablet_transparent {
	background-image: url('../../images/games_site/icon_tablet_transparent.png');
}

.icon_pcmac_transparent {
	background-image: url('../../images/games_site/icon_pcmac_transparent.png');
}

.icon_hdtv_transparent {
	background-image: url('../../images/games_site/icon_hdtv_transparent.png');
}

#second_screen {
	background-color: #ffffff;
	height: auto;
	z-index: 1;
}

#third_screen {
	height: auto;
	z-index: 2;
}

#parallax_second_headline {
	pointer-events: none;
	width: 46%;
<<<<<<< HEAD
	top: 11.4%;
=======
	top: 15.18%;
>>>>>>> parent of b3e6ce2... Merge branch 'v3.5'
	left: 45.5%;
}

#parallax_second_headline > h1 {
	width: 110%;
	margin-top: 10%;
	margin-left: 26%;
}
