


.slider_wrappers {
	position: absolute;
	width: 66%;
	top: 0;
	left: 35%;
	height: 85%;
}

#slider_menu_bg {
	opacity: 0.4;
	width: 22%;
	left: 79%;
}

#source_slider_controller > div {
	position: relative;
	height: 100%;
	float: left;
	display: block;
	width: 23.33%;
	padding-left: 5%;
	padding-right: 5%;
}

.device_button {
	cursor: pointer;
}

#source_slider_controller > div > div {
	width: 100%;
	background-position: bottom left;
	background-size: 40% auto;
}

#source_slider_controller > div:first-child > div {
	background-size: 80% auto;
}

#source_slider_controller > div > p {
	width: 100%;
	font-size: 1.6em;
	line-height: 1.2em;
	margin-top: 15%;
}

#source_slider_controller > div > a {
	margin-top: 10%;
	visibility: hidden;
}

.device_button.white a {
	visibility: visible !important;
}


.device_button.white > p {
	color: #ffffff;
}

.device_button:hover > p {
	color: #ffffff;
}

.menu_mobile_devices {
	background-image: url(../../images/games_site/welcome/menu_mobile_devices.png);
}

.menu_pcmac_devices {
	background-image: url(../../images/games_site/welcome/menu_pcmac_devices.png);
}

.menu_hdtv_devices {
	background-image: url(../../images/games_site/welcome/menu_hdtv_devices.png);
}

#second_screen {
	background-color: #ffffff;
	height: auto;
	z-index: 1;
}

#third_screen {
	height: auto;
	z-index: 2;
}

#parallax_second_headline {
	pointer-events: none;
	width: 46%;
	top: 12.38%;
	left: 45.5%;
}

#parallax_second_headline > h1 {
	width: 110%;
	margin-top: 10%;
	margin-left: 26%;
}
