/************************************************************/
/* Common tags                 															*/
/************************************************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'aktiv_groteskregular';
	width: 100%;
	margin: auto;
	font-size: 110%;
	background-color: #000000;
	zoom : 1;
	display: none;
}

label {
	font-family: 'aktiv_groteskregular';
	text-align: left;
	line-height: 1.3em;
	display: block;
	vertical-align: middle;
}

a {
	font-family: 'aktiv_groteskregular';
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	text-decoration: none;
	width: auto;
	height: auto;
	cursor: pointer;
}

a * {
	cursor: pointer !important;
}

img {
	max-width: 100%;
	max-height: 100%;
	background-size: contain;
}

h1 {
	font-family: 'aktiv_groteskxbold_italic';
	color: #ffffff;
	font-size: 6.2em;
	text-align: left;
	line-height: 0.85em;
	letter-spacing: -0.0em;
	cursor: default;
}

h2 {
	font-family: 'aktiv_groteskregular';
	/*font-family:  'aktiv_groteskmedium_italic';*/
	color: #ffffff;
	font-size: 2.7em;
	text-align: left;
	line-height: 1.3em;
	cursor: default;
}

h3 {
	font-family: 'aktiv_groteskregular';
	font-size: 1.7em;
	line-height: 1.3em;
	text-align: left;
	color: #ffffff;
	font-weight: normal;
	cursor: default;
}

p {
	font-family: 'aktiv_groteskregular';
	font-size: 1.9em;
	text-align: left;
	color: #ffffff;
	cursor: default;
}

/************************************************************/
/* Input box                   															*/
/************************************************************/

.input_box {
	position: relative;
	float: left;
	height: auto;
	margin-bottom: 0.5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.input_box > input {
	position: relative !important;
	margin-left: 5%;
	float: left;
	font-size: 1.6em;
	display: block;
	width: 80%;
	height: auto;
	line-height: 1.3em;
}

.input_box > textarea {
	position: relative !important;
	margin-left: 5%;
	float: left;
	font-size: 1.6em;
	display: block;
	width: 90%;
	height: auto;
	line-height: 1.3em;
}


.input_box a {
	position: absolute;
	right: 5%;
	top: 30%;
	width: 7%;
	height: auto;
}

.input_box a > img {
	position: relative !important;
	width: 100%;
	height: auto;
}

/************************************************************/
/* Classes                     															*/
/************************************************************/


.full_screen {
	width: 100%;
}

.content_margin {
	left: 5.86%;
}

.content_margin_rel {
	margin-left: 5.86%;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

.rotate {
  /*
  -webkit-animation: rotating-function 1.25s linear 1;
     -moz-animation: rotating-function 1.25s linear 1;
      -ms-animation: rotating-function 1.25s linear 1;
       -o-animation: rotating-function 1.25s linear 1;
          animation: rotating-function 1.25s linear 1;
   */
   -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";          
}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-180deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fr {
	float: right !important;
}


.content_shadow {
	-webkit-box-shadow: 13px 13px 1px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    13px 13px 1px rgba(0, 0, 0, 0.55);
	box-shadow:         13px 13px 1px rgba(0, 0, 0, 0.55);	
}

.content_padding {
	padding-left: 5.86%;
}

.content_half_margin {
	left: 2.93%;
}

.offset_1 {
	margin-left: 11%;
}

.offset_2 {
	margin-left: 22%;
}

.offset_3 {
	margin-left: 33%;
}

.pusher_1 {
	margin-right: 11%;
}


.footer_box {
	width: 36.34%;
	padding-left: 5.86%;
	padding-top: 3.86%;
}

.footer_big_box {
	width: 47.8%;
	padding-left: 10%;
	padding-top: 3.86%;
}

.bg_images {
	background-position: initial initial;
	background-repeat: no-repeat;
	background-size: 100%;
}

.bricks {
	position: relative !important;
	float: left;
}

.clear {
	clear: both;
}

.overflow_seeing {
	overflow: visible !important;
}

.zoom-content {
	-webkit-backface-visibility: hidden;	
	-moz-transition:width 1s linear 0s, -moz-transform 2s;	
  -webkit-transition: transform 1s linear 0s;
  transition: -webkit-transform 1s linear 0s;
}

.zoom-content:hover {
	-webkit-transform: scale(1.03); 
	transform: -webkit-transform scale(1.03);
}

.video_player_controller {
	background-image: url(../../images/games_site/video_play.png);
	background-size: 20% auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: inherit;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
}

/*********************/
/* Player info table */
/*********************/

#related_games {
	width: 90%;
}

#related_games h3 {
	margin-top: 2%;
}

.related_game {
	width: 32.35%;
	display: block;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
}

.related_game > div {
	width: 100%;
	height: inherit;
}

/*********************/
/* Player info table */
/*********************/

.big_avatar_table {
	width: 22%;
}

.big_avatar_table p {
	text-align: left;
}

.big_avatar_table > p {
	margin-top: 3%;
}

.big_avatar_table > p,
.big_avatar_table > div {
	margin-left: 4%;
	position: relative;
	float: left;
	width: 52%;
}

.avatar_score {
	font-family: "aktiv_groteskbold";
	font-size: 6.5em;
	line-height: 1.2em;
}

.icon_like {
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 15% 30%;
}

.big_avatar_table > .avatar_icon {
	width: 40%;
}

.big_avatar_table .big_size_text {
	font-size: 5.0em;
}


.info_avatar_table {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.info_avatar_table .avatar_icon {
	opacity: 1 !important;
	width: 30%;
}

.info_avatar_table p {
	text-align: left;
}

.info_avatar_table div,
.info_avatar_table p {
	position: relative;
	float: left;
	opacity: 0.7;
}

.info_avatar_table > .fr {
	margin-top: 9%;
	margin-right: 4%;
	opacity: 1;
}

.info_avatar_table > .fr > p {
	margin-left: 5%;
}

.info_avatar_table .smaller_text {
	font-size: 1.0em;
	line-height: 1.3em;
}

.info_avatar_table .icon_like {
	margin-left: 5%;
	margin-bottom: 5%;
	width: 34%;
	background-size: 15% 40%;
}

.info_avatar_table .avatar_score {
	line-height: 0.7em;
	font-size: 8.5em;
}

.icon_like {
	background-image: url(../../images/games_site/icon_like.png);
}

.content_avatar1 {
	background-image: url(../../images/games_site/welcome/avatar_tablet_big.png);
}


/************************************************************/
/* Fix layers                  															*/
/************************************************************/


#menu_hamburger {
	position: absolute;
	z-index: 0;
	right: 10%;
	top: 37.5%;
  /* this is the same as .divider_button > img in .js */
	width: 25%;
	cursor: pointer;
	background-image: url(../../images/games_site/button_hamburger.png);
}

#down_arrow {
	position: absolute;
	z-index: 0;
	right: 10%;
	bottom: 4%;
	width: 25%;
	cursor: pointer;
}

#menu_screen {
	position: absolute;
	z-index: 1;
	width: 120%;
	right: -130%;
	top: 0;
	height: inherit;
}

#menu_screen > div {
	position: absolute;
}

#menu_close_button {
	cursor: pointer;
	left: -7.5%;
	top: 3%;
	width: 15%;
	z-index: 7;
}

#menu_system_main {
	width: 80%;
	left: 0;
	top: 3%;
}

#menu_system_main > a {
	position: relative;
	float: left;
	display: block;
	width: 100%;
}

#menu_system_main p {
	width: 100%;
	text-align: right;
	font-size: 3.0em;
	opacity: 0.6;
	line-height: 1.1em;
}

.active_main_menu {
	opacity: 1 !important;
}

#menu_system_main > a:hover > p {
	opacity: 1;
}

#menu_system_footer {
	width: 80%;
	left: 0;
	bottom: 3%;
}

#menu_system_footer > a {
	position: relative;
	float: left;
	display: block;
	width: 100%;
}

#menu_system_footer p {
	width: 100%;
	text-align: right;
	font-size: 1.2em;
	opacity: 0.6;
	line-height: 2.5em;
}

.active_footer_menu {
	opacity: 1 !important;
}

#menu_system_footer > a:hover > p {
	opacity: 1;
}

#menu_logo_transparent {
	right: 4%;
	top: 3%;
	width: 12%;
	background-image: url(../../images/games_site/logo_transparent.png);
}

/************************************************************/
/* Layer wrappers                                           */
/************************************************************/

#layers_wrapper {
	position: relative;
	display: block;
	max-width: 1280px;
	min-width: 768px;
	margin: auto;
	width: 100%;
	height: auto;
}

#controllers_wrapper {
	pointer-events: none;
	z-index: 4;
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	max-width: 256px;
	height: auto;
}

#controllers_wrapper > div {
	pointer-events: auto;
}

/************************************************************/
/* Video Layer       																				*/
/************************************************************/

#video_layer {
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
}

#video_sizer {
	position: absolute;
	top: 2.8%;
	left: 38.5%;
	width: 49%;
}

#root_video {
	width: 100%;
}

/************************************************************/
/* Scrolling Layer   																				*/
/************************************************************/

#scrolling_layer {
	height: inherit;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

#scrolling_layer > div {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

#logo {
	right: 3%;
	/* top: 5%; */
	width: 5% !important;
	background-position: top center;
	background-size: contain;
	z-index: 5;
	position: absolute !important;
}

#logo > p {
	text-align: center;
	font-size: 2.2em;
	margin-top: 120%;
}



/************************************************************/
/* Footer screen     																				*/
/************************************************************/

.footer_box > h2 {
	margin-top: 2%;
	font-size: 3.7em;
	line-height: 0.95em;
}

.footer_box > h3 {
	margin-top: 6%;
}

.footer_box > p {
	margin-top: 12%;
}

.footer_box > a {
	left: 38%;
}

#footer_screen > div {
	position: relative;
	float: left;
}

#footer_screen .footer_box > h2 {
	margin-top: 30%;
}

.footer_big_box > h1 {
	margin-top: 10%;
}

.footer_big_box > p {
	text-align: left;
	margin-top: 13%;
}

.footer_big_box > a {
	left: 35%;
}

#box_readygo {
	z-index: 2;
}

#footer_contents {
	z-index: 1;
	width: 94.14%;
	padding-top: 5%;
	padding-bottom: 7%;
}

#footer_contents > div {
	position: relative;
	float: left;
}

#link_wrapper {
	width: 70%;
	height: 70%;
}

#link_wrapper > a {
	font-family: 'aktiv_groteskregular';
	position: relative;
	display: block;
	float: left;
	font-size: 2.2em;
	line-height: 1.8em;
	width: 25%;
	margin: 1% 0 1% 0;
}

#link_wrapper img {
	position: relative;
	float: left;
	display: block;
	margin-top: 3.5%;
	margin-right: 1%;
	width: 12%;
	height: auto;
}

#footer_logo {
	width: 15%;
	margin-left: 10%;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
}

#footer_logo > p {
	text-align: right;
	font-size: 3.5em;
	line-height: 1.3em;
}

/************************************************************/
/* Parallax Layer   																				*/
/************************************************************/

.parallax_layer {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#parallax_layer1 {
	z-index: 2;
}

#parallax_layer2 {
	z-index: 3;
}

.parallax_layer a {
	left: 0 !important;
	width: 100%;
	height: inherit;
}

.parallax_wrapper {
	position: absolute;
	width: 90%;
}

.parallax_wrapper > div {
	position: absolute;
}





