<<<<<<< HEAD
/************************************************************/
/* Colors                      															*/
/************************************************************/

/* new system of colors */
/* color palette from layout */

.white {
	color: #ffffff;
=======
/*******************************/
/* Colors                      */
/*******************************/

.beige_bg {
	background-color: #EFEFEA;
>>>>>>> parent of b3e6ce2... Merge branch 'v3.5'
}

.lightest_grey {
	color: #A3A9AC;
}

.grey {
	color: #484F57;
}

.grey_bg {
	background-color: #484F57;
}

.light_grey {
	color: #7C858C;
}

.light_grey_bg {
	background-color: #7C858C;
}

.dark_blue {
	color: #198077;
}

.blue_bg {
	background-color: #23B4A7;
}

.dark_brown_bg {
	background-color: #232120;
}

.dark_orange {
	color: #D85B2A;
}

<<<<<<< HEAD
.c5r3_bg {
	background-color: #D85B2A;
}

/* green column */

/* light green */
.c6r1_color {
	color: #DCE256;
=======
.dark_red {
	color: #E63B3A;
>>>>>>> parent of b3e6ce2... Merge branch 'v3.5'
}

.purple {
	color: #8B1C42;
}

.uv_green {
	color: #8BC541;
}

.uv_green_bg {
	background-color: #8BC541;
}

.dark_green {
	color: #1F9255;
}

.white {
	color: #ffffff;
}

.white_bg {
	background-color: #ffffff;
}

.orange {
	color: #DA2A66;
}

.orange_bg {
	background-color: #DA2A66;
}

.light_orange {
	color: #F58638;
}

.light_orange_bg {
	background-color: #F58638;
}


/*******************************/
/* Common Classes              */
/*******************************/

.full_screen {
	width: 100%;
}

.content_margin {
	left: 5.86%;
}
